.navbar {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.username {
  font-size: large;
  color: rgb(140, 255, 0);
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
  margin-left: 30px;
}

.logo:hover {
  color: aqua; /* Yellow on hover */
}
.navicon {
  margin-right: 0px;
  margin-left: 1rem;
}
.nav-links {
  list-style: none;
  display: flex;
  margin-right: 20px;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: aqua;
  font-weight: 600; /* Yellow on hover */
}
